/* 4 devices */
/* tab-port = 900px, tab-land = 1200px, and phone = 600px */
/* Also we using em unit our media query */
/* To convert the px to em we will devide 16 by the measure we want for example for phones we want 600px 
and we will say 600/16 = 37.5em */

/* Our font-size default was 62.5% comes from 1rem = 10/16*100 =  62.5% and every every 1rem was 10px  */

/*  ****************our media Queries**************** */

/* tab-land 1200/16 = 75em */
/* //hey */
@media (max-width: 75em) {
  html {
    /* 1rem = 9px ,9/16*100 = 56.25% */
    font-size: 56.25%;
  }
  body {
    padding: 0;
  }
  nav {
    border-radius: 0;
  }
  .home-text {
    font-size: 5rem;
  }
  .home-text::after {
    font-size: 4.5rem;
    right: 1rem;
  }
}

/* tab-port 900/16= 56.25em */
@media (max-width: 56.25em) {
  html {
    /* 1rem = 8px, 8/16px*100 = 50% */
    font-size: 50%;
  }

  .testimonial-div {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}
/* phones 600/16 = 37.5em */
@media (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
  .testimonial-div {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
  }
  .contact-form {
    grid-template-columns: repeat(1, 1fr);
  }

  .container-service {
    grid-template-columns: repeat(1, 1fr);
    max-width: 44rem;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
  }
  .row {
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
  }
  .btn-contact {
    left: 45%;
  }
  .contact-links,
  .about-1-section {
    width: 70%;
  }
  body {
    position: relative;
  }
  .navmeida {
    position: fixed;
    flex-direction: column;
    /* row-gap: 2rem; */
    margin-top: 0;
    width: 55%;
    background-color: rgba(211, 138, 21, 0.834);
    background-image: none;
    border-radius: 0.6rem;
    top: 13%;
    height: 100vh;
    left: -1rem;
    transform: translateX(-100%);
    transition: all 0.6s;
    z-index: 3000;
  }
  .navmeida h2 {
    display: none;
  }
  .navmeida ul {
    margin-top: 0;
    display: flex;

    flex-direction: column;
  }
  .navmeida ul li a {
    display: inline-block;
    margin-top: 5rem;
    color: black;
    font-weight: 900;
    font-size: 2.2rem;
  }
  .menu {
    display: block;
  }
  .mobileHide {
    display: none;
  }
  .footer-form {
    width: 100%;
  }
  .footer-form input::placeholder {
    font-size: 1.3rem;
  }
  .col-company li a,
  .col-media li a {
    font-size: 1.89rem;
  }
}

/* Phones of 500px // 500/16 = 31.25rem */
@media (max-width: 31.25em) {
  .footer--content {
    flex-direction: column;
    row-gap: 2rem;
  }
  .footer-title {
    font-size: 2.5rem;
    font-weight: 900;
  }
  .footer-form {
    width: 55%;
  }
}
